$light: #eeeeee;
$mid: #9fb8ad;
$dark: #383e56;
$orange: #fb743e;
.reportsWrapper {
  width: 90%;
  margin: auto;
  .reportWrapper {
    padding: 5px;
    padding-right: 15px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px $orange;
    cursor: pointer;
    i {
      color: $dark;
      &:hover {
        transform: scale(1.5);
      }
    }
    &:hover {
      background-color: #ffc38a;
      div {
        border-right: 2px solid #ffffff;
      }
    }
    div {
      width: 20%;
      border-right: 2px solid $orange;
      text-align: center;
    }
    div:last-child {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      border: none;
      .delete {
        color: rgb(255, 41, 41);
        margin-right: 20px;
      }
    }
    h6 {
      font-weight: 500;
      font-size: 12px;
      color: rgb(90, 90, 90);
    }
  }
}
.searchReports {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 30px auto 30px auto;
  input {
    display: block;
    border: 2px solid $orange;
    border-radius: 10px;
    width: 13%;
    padding: 2px 3px;
    &:focus {
      transform: scale(1.2);
      outline: none;
    }
  }
}

@media only screen and (max-width: 550px) {
  .searchReports {
    justify-content: none;
    flex-direction: column;
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    input {
      width: 150px;
    }
  }

  .reportsWrapper {
    .reportWrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-shadow: 0 4px 2px -2px #ff893d;
      cursor: pointer;
      &:hover {
        background-color: #ffc38a;
        div {
          border-right: 2px solid #ffffff;
        }
      }
      div {
        width: 50%;
        border-right: 2px solid #ff893d;
        text-align: center;
        margin-bottom: 10px;
      }
      div:nth-child(even) {
        border: none;
      }
      div:last-child {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        .delete {
          color: rgb(255, 41, 41);
          margin-right: 20px;
        }
      }
    }
  }
}
